* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-image: url("../imagens/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  
}

:root {
  --color-1: rgb(0, 0, 0);
  --color-2: rgb(255, 255, 255);
  --color-3: rgba(0, 0, 0, 0.815);
  --color-h1: #262f3f;
}

/*========================CABECALHO==========================*/

header {
  height: 60px;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

#cabecalho {
  position: sticky;
  top: 0;
  z-index: 1;
}

#cabecalho nav li {
  display: inline-block;
}

#cabecalho .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

#cabecalho #logo_tesla_cabecalho {
  width: 150px;
  margin-left: 10px;
}

#cabecalho nav li a {
  text-decoration: none;
  display: inline-block;
  color: var(--color-1);
  padding: 15px 30px;
  margin-left: 10px;
}

#cabecalho li a {
  border-radius: 50px;
}

#cabecalho li a:hover {
  background-color: rgba(0, 0, 0, 0.676);
  color: var(--color-2);
  transition: all 0.5s linear;
  border-radius: 50px;
}

/*========================CONTEÚDO DO SITE==========================*/

#apresentacao_site {
  display: block;
  width: 1250px;
  margin-left: 50px;
  margin-top: 195px;
}

#apresentacao_site h1 {
  font-family: 'Prompt', sans-serif;
  color: var(--color-h1);
  margin-bottom: 10px;
}

#apresentacao_site h2 {
  font-family: 'Prompt', sans-serif;
  color: var(--color-1);
  margin-bottom: 10px;
}

#apresentacao_site p {
  font-family: 'Prompt', sans-serif;
  color: var(--color-1);
  margin-bottom: 10px;
  margin-top: 250px;
  float: right;
}

#apresentacao_site a {
  text-decoration: underline;
  font-family: 'Prompt', sans-serif;
  color: var(--color-1);
  margin-bottom: 10px;
}

.box_resumo_empresa {
  background-color: rgba(0, 0, 0, 0.685);
  padding: 30px;
  height: 500px;
  margin-top: 310px;
  margin-bottom: 50px;
  color: var(--color-2);
}

.box_resumo_empresa img{
  float: left;
  width: 500px;
  margin-left: 100px;
  margin-top: 50px;
  margin-right: 20px;
}

.box_resumo_empresa h3{
  margin-top: 50px;
  margin-right: 20px;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

.box_resumo_empresa p{
  margin-top: 25px;
  margin-right: 20px;
  font-family: 'Poppins', sans-serif;
  text-align: justify;
}

h4 {
  font-family: 'Poppins', sans-serif;
  margin-bottom: 5px;
  font-size: 30px;
  text-align: center;
  text-shadow: 0.1em 0.1em 0.2em black;
}

.intro_banner p {
  color: var(--color-h1);
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  margin-bottom: 50px;
}

#banner_modelos {
  margin: 0 auto;
  
}

/*========================RODAPÉ==========================*/

#rodape {
  height: 120px;
  text-align: center;
  color: var(--color-2);
  background-color: rgba(0, 0, 0, 0.850);
  padding: 30px;
}

#rodape p {
  font-family: 'Poppins', sans-serif;
  color: var(--color-2);
}

#rodape a {
  text-decoration: none;
  color: var(--color-2);
}

#rodape a:hover {
  text-decoration: underline;
  color:#F32424;
}












